RaspberryBackend/node_modules
RaspberryBackend/node_modules/*
RaspberryBackend/package-lock.json
RaspberryFront/node_modules
RaspberryFront/node_modules/*
RaspberryFront/package-lock.json
RaspberryFront/yarn.lock